body {
  background-color: lightgreen;
}
h2 {
  color:white;
}
p {
  color: white;
}
h2.rigid-square{
font-family: rigid-square,sans-serif;
font-weight: 700;
font-style: normal;
}
a{
text-decoration: none;
color: white;
}
a:visited{
text-decoration: none;
color: white;
}
ul {
  text-align: center;
  list-style: inside;
}
ul.rigid-square{
font-family: rigid-square,sans-serif;
font-weight: 700;
font-style: normal;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
