* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
 width: 990px;
 background-color: whitesmoke;
 padding: 50px;
 display: flow-root;
 margin: 25px auto;
}
.Green, .tan{
  width: 100px;
  height: 100px;
  float: left;
}
.green {
  background-color: #green;
}
.tan {
  background-color: #tan;
}
