* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
  width: 800px;
  display: flow-root;
  margin: 50px auto 0;
}
.green, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.green {
  background-color: green;
}
.black {
  background-color: #333333;
}
.rectangle {
  height:100px;
  width: 1000px;
  background-color: green;
  float: left;
}
.shape2 {
  height:30px;
  width: 1000px;
  background-color: pink;
  float: left;
}
.shape3 {
  height:5px;
  width: 1000px;
  background-color: white;
  float: left;
}
.rectangle2 {
  height:550px;
  width: 200px;
  background-color: green;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.float-child {
    width: 30%;
    float: left;
    padding: 10px;
}
