* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.board {
  width: 800px;
  display: flow-root;
  margin: 50px auto 0;
}
.green, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.green {
  background-color: green;
}
.black {
  background-color: #333333;
}
.rectangle {
  height:10px;
  width: 1000px;
  background-color: #green;
}
.rectangle2 {
  height:50px;
  width: 1000px;
  background-color: #555;
}
