* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {

}
Div{
  width: 100px
  height: 100px
}
.square {
      width: 100x;
      height: 100px;
      background: red;
      margin: 50px;
      float: left;
    }
.circle {
           height: 70px;
           width: 70px;
           background-color: orange;
           border-radius: 50%;
       }
.triangle {
        width: 150px;
        height: 150px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid yellow;
   }
.diamond {
     height: 150px;
     width: 150px;
     background-color: #green;
     transform: rotate(45deg);
   }
.parallelogram {
      width: 150px;
      height: 100px;
      transform: skew(20deg);
      background: purple;
    }
.star-five {
      margin: 50px 0;
      position: relative;
      display: block;
      color: pink;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid pink;
      border-left: 100px solid transparent;
      transform: rotate(35deg);
    }
.star-five:before {
      border-bottom: 80px solid pink;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
.star-five:after {
      position: absolute;
      display: block;
      color: pink;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid pink;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }
ul{ list-style-type: none; }
