* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
      width: 125vw;
      margin: -100px -12.5vw;
}
div  {
    float: left;
}
.shape1{
      width: 100px;
      height: 100px;
      background: red;
      margin: -15px;
      opacity: .5;
}
ul{ list-style-type: none; }
