* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {

}
.square {
      width: 100px;
      height: 100px;
      background: red;
      margin: 50px;
      float: left;
    }
.shape1 {
      width: 200px;
      height: 100px;
      background: orange;
      margin: 50px;
      float: left;
    }
.triangle {
        height: 200px;
        width: 100px;
        background:green;
        margin: 50px;
        float: left;
}
ul{ list-style-type: none; }
