<!DOCTYPE html>
<html>
<head>
<style>
#Seven Principles of Typographic Contrast {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
</style>
</head>
<body>

<h1 id="Seven Principles of Typographic Contrast">Seven Principles of Typographic Contrast</h1>

</body>
</html>
