body {
  background-color: #FFE3C0;
}
h2 {
  color: BLACK;
  font-family: Arial;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
img{
  width: 100%;
}
.rectangle {
   width: 100%;
   padding: 25px 0px;
   background: #D29C85;
   margin: 0;
 }
 div.a {
   text-align: center;
 }
.container {
   position: relative;
   text-align: center;
   color: white;
 }
 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rectangle2 {
   width: 1440px;
   background:#FFE3C0;
   margin: 0%;
   text-align: center;
   height:200px;
 }
 .container2 {
     width: 200px;
     height: 200px;
     postion: absolute;
     right: 0%;
 }
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   height: 300px;
 }
 .rectangle3 {
    width: 100px;
    background: white;
    margin: 0%;
    text-align: center;
    padding: 25px
}
form {
  border: #FFE3C0;
  font-family: Arial;
}

.container3 {
  padding: 20px;
  background-color: #FFE3C0;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: black;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
a.two:link {
  color: white;
text-decoration: none;
}
a.two:visited {
  text-decoration: none;
  color: white;
}
a.two:hover {
  text-decoration: none;
  color: white;
}
a.two:active {
text-decoration: none;
color: white;
}
a.two {
  font-size:200px
}
  a.three:link {
    color: black;
text-decoration: none;
}
a.three:visited {
  text-decoration: none;
  color: black;
}
a.three:hover {
  text-decoration: none;
  color: black;
}
a.three:active {
text-decoration: none;
color: black;
}
.container21 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}
.top-left {
  position: absolute;
  top: 5px;
  left: 50px;
  text-align: left;
  font-size: 50px;
}
.box {
  width: 500px;
 border: 5px solid black;
 height: 100px
 margin: 20px;
 line-height: 0.5%;
 font-size: 50px

}
.container33{
  position: relative;
  text-align: center;
  color: black;
}
.t-left {
  position: absolute;
  top: 114px;
  left: 15px;
}
.container25 {
  position: relative;
  text-align: center;
  color: black;
}
#nav {
width:510px;
margin:0 auto;
list-style:none;
}
#nav li {
}
#nav a {
display:block;
text-align:center;
text-decoration:none;
}
.box2 {
 width: 500px;
 background-color: white
 border: 15px solid white;
 height: 100px
 margin: 20px;
 line-height: 0.5%;
 font-size: 50px
}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box2 {
  background-color: white;
  width: 400px;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}
.parent {
display: flow-root;
width: 100%;
float: left;
}
.text1{
  width: 200px;
  float: left;
  margin: 0px;
}
.text2{
width: 200px;
float: left;
margin: 0px;
}
.text3{
  width: 500px;
  float: left;
  margin: 0px;
}
