body {
  background-color: #FFE3C0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
.rectangle {
   width: 1440px;
   height: 100px;
   background: #D29C85;
   margin: 0;
 }
 div.a {
   text-align: center;
 }
.container {
   position: relative;
   text-align: center;
   color: white;
 }
 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rectangle2 {
   width: 1440px;
   height: 100px;
   background:#FFE3C0;
   margin: 0;
   text-align: center;
   color: black;
 }
